@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS to hide the scrollbar */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* -----------------------------------------------------------------chat-overrides.css --------------------------------------------*/

/* ----------------------------------------------Hide scrollbar for the message list ---------------------------------*/
.str-chat__list {
  scrollbar-width: none !important;
  -ms-overflow-style: none !important;
}

.str-chat__list::-webkit-scrollbar {
  display: none !important;
}

/* Hide scrollbar for the main chat container */
.str-chat__main-panel {
  scrollbar-width: none !important;
  -ms-overflow-style: none !important;
}

.str-chat__main-panel::-webkit-scrollbar {
  display: none !important;
}

/* Hide scrollbar for thread if present */
.str-chat__thread {
  scrollbar-width: none !important;
  -ms-overflow-style: none !important;
}

.str-chat__thread::-webkit-scrollbar {
  display: none !important;
}

/* Hide scrollbar for message text container */
.str-chat__message-text {
  scrollbar-width: none !important;
  -ms-overflow-style: none !important;
}

.str-chat__message-text::-webkit-scrollbar {
  display: none !important;
}

/* //-----------------------------channel header-----------------------------// */
